{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0px; background-color: #5AC8FA;">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'catalog:product_list' %}" style="color: #ffffff">ShoppingDay</a>
    </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'cart:cart_detail' %}" style="color: #fcfcfc;">Your cart</a> </li>
        <li class="dropdown">
          {% if request.user.is_authenticated %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">Account {{ request.user.username }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'customers:user_logout' %}">logout</a></li>
          <li><a href="{% url 'customers:user_account' %}">logout</a></li>
            {% else %}
            <li class="divider"></li>
{#            <li> {% include 'cart/button.html' %}</li>#}
            <li><a href="{% url 'customers:user_login' %}" style="color: #ffffff">Sign in</a></li>
            <li><a href="{% url 'customers:user_register' %}" style="color: #ffffff">Sign up</a></li>
        </ul>
         {% endif %}
      </li>
    </ul>
  </div>
  </div>
</nav>

